html, body
{
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif !important;
}

.container > div > ul > li > a
{
    color: #fff !important;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-top: .1rem solid rgba(255,255,255,0);
}

.container > div > ul > li > a:active, .container > div > ul > li > a:focus 
{
    border-top: .1rem solid orange;
}

/* Section 1 */
.section1
{
    position: relative;
    background-image: linear-gradient(120deg,rgba(255,255,255,0.9) 50%, transparent 50%),url(https://w.wallhaven.cc/full/ne/wallhaven-nex36l.png);
    background-size: cover;
    background-position:center;
    height: 90vh;
}

.section1 > .data-intro
{
    text-transform: uppercase;
    height: 100%;
    display: grid;
    grid-template-columns: 2rem auto;
    grid-template-rows: 3rem 3rem;
    align-content: center;
}

.intro-line-1
{
    grid-column: 2/-1;
}

.section1 > .data-intro > h1
{
    display: inline-block;
    font-size: 2rem !important;
    color: orange;
}

.typed-text
{
    font-size: 1.5rem !important;
    grid-column: 2/-1;
}

.tsparticles-canvas-el
{
    z-index: 1;
}

.navbar
{   
    z-index: 1;
}

.contain
{
    display: grid;
    height: 100%;
    width: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 100vh;
    grid-template-areas: 
                            "p p p p c c c c c c c"
                            "p p p p c c c c c c c";
}

.contain > .imageSection
{
    grid-area: p;
    align-self: center;
    text-align:center;
}

.contain > .imageSection > .profile_picture
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: .3rem;
    border: 1px solid orange;
}

.contain > .about-me-info
{
    grid-area: c;
    align-self: center;
    padding: 4px;
    font-family: 'Roboto', sans-serif !important;
    font-weight:600;
    font-size: 1rem !important; 
}

.contain > .about-me-info > .aboutmeHeader
{
    text-transform: uppercase;
    color: orange;
}

@media only screen and (max-width: 600px) {
.section1 > .data-intro > h1
    {
        font-size: 1.4rem !important;
        align-self:initial;
    }
    .section1 > .data-intro > .typed-text
    {
        font-size: 1rem !important;
    }
    .contain
    {
    display: grid;
    height: 100%;
    width: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60vh;
    grid-template-areas: 
                            "p p p p p p"
                            "c c c c c c";
    }
    .contain > .about-me-info > .aboutmeHeader
    {
    text-align: center;
    }
    .contain > .about-me-info > p
    {
        text-align: center;
    }
  }